In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('dataset1.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,3,47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.columns = ['srcip','sport','dstsip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','sload','dload','spkts','dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_dept','res_bdy_len','sjit','djit','stime','ltime','sintpkt','dintpkt','tcprtt','synack','ackdat','is_sn_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd','ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','label']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             700000 non-null  object
 1   sport             700000 non-null  object
 2   dstsip            700000 non-null  object
 3   dsport            700000 non-null  object
 4   proto             700000 non-null  object
 5   state             700000 non-null  object
 6   dur               700000 non-null  float64
 7   sbytes            700000 non-null  int64
 8   dbytes            700000 non-null  int64
 9   sttl              700000 non-null  int64
 10  dttl              700000 non-null  int64
 11  sloss             700000 non-null  int64
 12  dloss             700000 non-null  int64
 13  service           700000 non-null  object
 14  sload             700000 non-null  float64
 15  dload             700000 non-null  float64
 16  spkts             700000 non-null  int64
 17  dpkts             700000 non-null  int64
 18  swin              700000 non-null  int64
 19  dwin              700000 non-null  int64
 20  stcpb             700000 non-null  int64
 21  dtcpb             700000 non-null  int64
 22  smeansz           700000 non-null  int64
 23  dmeansz           700000 non-null  int64
 24  trans_dept        700000 non-null  int64
 25  res_bdy_len       700000 non-null  int64
 26  sjit              700000 non-null  float64
 27  djit              700000 non-null  float64
 28  stime             700000 non-null  int64
 29  ltime             700000 non-null  int64
 30  sintpkt           700000 non-null  float64
 31  dintpkt           700000 non-null  float64
 32  tcprtt            700000 non-null  float64
 33  synack            700000 non-null  float64
 34  ackdat            700000 non-null  float64
 35  is_sn_ips_ports   700000 non-null  int64
 36  ct_state_ttl      700000 non-null  int64
 37  ct_flw_http_mthd  700000 non-null  int64
 38  is_ftp_login      700000 non-null  int64
 39  ct_ftp_cmd        700000 non-null  int64
 40  ct_srv_src        700000 non-null  int64
 41  ct_srv_dst        700000 non-null  int64
 42  ct_dst_ltm        700000 non-null  int64
 43  ct_src_ltm        700000 non-null  int64
 44  ct_src_dport_ltm  700000 non-null  int64
 45  ct_dst_sport_ltm  700000 non-null  int64
 46  ct_dst_src_ltm    700000 non-null  int64
 47  attack_cat        22215 non-null   object
 48  label             700000 non-null  int64
dtypes: float64(10), int64(31), object(8)
memory usage: 261.7+ MB

In [3]:
df['label'].value_counts()

0    677786
1     22215
Name: label, dtype: int64

In [4]:
df3 = pd.read_csv('dataset3.csv')
df3.columns = ['srcip','sport','dstsip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','sload','dload','spkts','dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_dept','res_bdy_len','sjit','djit','stime','ltime','sintpkt','dintpkt','tcprtt','synack','ackdat','is_sn_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd','ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','label']

In [5]:
df3['label'].value_counts()

0    542575
1    157425
Name: label, dtype: int64

In [6]:
df2 = pd.read_csv('dataset2.csv')
df2.columns = ['srcip','sport','dstsip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','sload','dload','spkts','dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_dept','res_bdy_len','sjit','djit','stime','ltime','sintpkt','dintpkt','tcprtt','synack','ackdat','is_sn_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd','ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','label']

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3,39,47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             700000 non-null  object
 1   sport             700000 non-null  int64
 2   dstsip            700000 non-null  object
 3   dsport            700000 non-null  object
 4   proto             700000 non-null  object
 5   state             700000 non-null  object
 6   dur               700000 non-null  float64
 7   sbytes            700000 non-null  int64
 8   dbytes            700000 non-null  int64
 9   sttl              700000 non-null  int64
 10  dttl              700000 non-null  int64
 11  sloss             700000 non-null  int64
 12  dloss             700000 non-null  int64
 13  service           700000 non-null  object
 14  sload             700000 non-null  float64
 15  dload             700000 non-null  float64
 16  spkts             700000 non-null  int64
 17  dpkts             700000 non-null  int64
 18  swin              700000 non-null  int64
 19  dwin              700000 non-null  int64
 20  stcpb             700000 non-null  int64
 21  dtcpb             700000 non-null  int64
 22  smeansz           700000 non-null  int64
 23  dmeansz           700000 non-null  int64
 24  trans_dept        700000 non-null  int64
 25  res_bdy_len       700000 non-null  int64
 26  sjit              700000 non-null  float64
 27  djit              700000 non-null  float64
 28  stime             700000 non-null  int64
 29  ltime             700000 non-null  int64
 30  sintpkt           700000 non-null  float64
 31  dintpkt           700000 non-null  float64
 32  tcprtt            700000 non-null  float64
 33  synack            700000 non-null  float64
 34  ackdat            700000 non-null  float64
 35  is_sn_ips_ports   700000 non-null  int64
 36  ct_state_ttl      700000 non-null  int64
 37  ct_flw_http_mthd  414744 non-null  float64
 38  is_ftp_login      392962 non-null  float64
 39  ct_ftp_cmd        700000 non-null  object
 40  ct_srv_src        700000 non-null  int64
 41  ct_srv_dst        700000 non-null  int64
 42  ct_dst_ltm        700000 non-null  int64
 43  ct_src_ltm        700000 non-null  int64
 44  ct_src_dport_ltm  700000 non-null  int64
 45  ct_dst_sport_ltm  700000 non-null  int64
 46  ct_dst_src_ltm    700000 non-null  int64
 47  attack_cat        52749 non-null   object
 48  label             700000 non-null  int64
dtypes: float64(12), int64(29), object(8)
memory usage: 261.7+ MB

In [7]:
df2['label'].value_counts()

0    647251
1     52749
Name: label, dtype: int64

In [8]:
df4 = pd.read_csv('dataset4.csv')
df4.columns = ['srcip','sport','dstsip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','sload','dload','spkts','dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_dept','res_bdy_len','sjit','djit','stime','ltime','sintpkt','dintpkt','tcprtt','synack','ackdat','is_sn_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd','ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','label']

In [18]:
df4['label'].value_counts()

0    351149
1     88894
Name: label, dtype: int64

In [19]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440043 entries, 0 to 440042
Data columns (total 49 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   srcip             440043 non-null  object
 1   sport             440043 non-null  int64
 2   dstsip            440043 non-null  object
 3   dsport            440043 non-null  object
 4   proto             440043 non-null  object
 5   state             440043 non-null  object
 6   dur               440043 non-null  float64
 7   sbytes            440043 non-null  int64
 8   dbytes            440043 non-null  int64
 9   sttl              440043 non-null  int64
 10  dttl              440043 non-null  int64
 11  sloss             440043 non-null  int64
 12  dloss             440043 non-null  int64
 13  service           440043 non-null  object
 14  sload             440043 non-null  float64
 15  dload             440043 non-null  float64
 16  spkts             440043 non-null  int64
 17  dpkts             440043 non-null  int64
 18  swin              440043 non-null  int64
 19  dwin              440043 non-null  int64
 20  stcpb             440043 non-null  int64
 21  dtcpb             440043 non-null  int64
 22  smeansz           440043 non-null  int64
 23  dmeansz           440043 non-null  int64
 24  trans_dept        440043 non-null  int64
 25  res_bdy_len       440043 non-null  int64
 26  sjit              440043 non-null  float64
 27  djit              440043 non-null  float64
 28  stime             440043 non-null  int64
 29  ltime             440043 non-null  int64
 30  sintpkt           440043 non-null  float64
 31  dintpkt           440043 non-null  float64
 32  tcprtt            440043 non-null  float64
 33  synack            440043 non-null  float64
 34  ackdat            440043 non-null  float64
 35  is_sn_ips_ports   440043 non-null  int64
 36  ct_state_ttl      440043 non-null  int64
 37  ct_flw_http_mthd  33560 non-null   float64
 38  is_ftp_login      6632 non-null    float64
 39  ct_ftp_cmd        440043 non-null  object
 40  ct_srv_src        440043 non-null  int64
 41  ct_srv_dst        440043 non-null  int64
 42  ct_dst_ltm        440043 non-null  int64
 43  ct_src_ltm        440043 non-null  int64
 44  ct_src_dport_ltm  440043 non-null  int64
 45  ct_dst_sport_ltm  440043 non-null  int64
 46  ct_dst_src_ltm    440043 non-null  int64
 47  attack_cat        88894 non-null   object
 48  label             440043 non-null  int64
dtypes: float64(12), int64(29), object(8)
memory usage: 164.5+ MB

In [9]:
botnet1 = df[df.label == 1]
botnet2 = df2[df2.label == 1]
botnet4 = df4[df4.label == 1]

In [10]:
botnet1

,srcip,sport,dstsip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
20,175.45.176.3,21223,149.171.126.18,32780,udp,INT,0.000021,728,0,254,...,0,1,1,1,1,1,1,1,Exploits,1
21,175.45.176.2,23357,149.171.126.16,80,tcp,FIN,0.240139,918,25552,62,...,0,3,2,2,1,1,1,1,Exploits,1
22,175.45.176.0,13284,149.171.126.16,80,tcp,FIN,2.390390,1362,268,254,...,0,5,2,2,1,1,1,1,Reconnaissance,1
39,175.45.176.2,13792,149.171.126.16,5555,tcp,FIN,0.175190,8168,268,254,...,0,1,1,1,1,1,1,1,Exploits,1
40,175.45.176.2,26939,149.171.126.10,80,tcp,FIN,0.190600,844,268,254,...,0,3,1,1,1,1,1,1,Exploits,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186498,175.45.176.1,58463,149.171.126.15,179,tcp,FIN,31.461020,924,708,254,...,0,6,6,2,2,2,1,2,Fuzzers,1
186499,175.45.176.1,58460,149.171.126.15,179,tcp,FIN,57.995934,1362,536,254,...,0,6,6,2,2,2,1,2,Fuzzers,1
186562,175.45.176.1,58967,149.171.126.15,179,tcp,FIN,32.361782,1128,622,254,...,0,6,6,2,2,2,1,2,Fuzzers,1
186658,175.45.176.1,58485,149.171.126.15,179,tcp,FIN,0.476639,470,354,254,...,0,8,8,2,2,2,1,2,Fuzzers,1
186787,175.45.176.1,58935,149.171.126.15,179,tcp,FIN,0.343431,550,268,254,...,0,5,5,3,3,3,1,3,Fuzzers,1

In [26]:
botnet2

,srcip,sport,dstsip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
387246,175.45.176.0,7302,149.171.126.18,80,tcp,FIN,0.536452,950,354,254,...,,6,3,1,1,1,1,2,Exploits,1
387266,175.45.176.0,0,149.171.126.12,0,ospf,INT,0.921987,1280,0,254,...,,1,1,1,1,1,1,2,Reconnaissance,1
387267,175.45.176.0,0,149.171.126.12,0,ospf,INT,0.921987,1280,0,254,...,,1,1,1,1,1,1,2,Reconnaissance,1
387268,175.45.176.0,0,149.171.126.12,0,ospf,INT,0.921987,1280,0,254,...,,1,1,1,1,1,1,2,Backdoor,1
387269,175.45.176.0,0,149.171.126.12,0,ospf,INT,0.921987,1280,0,254,...,,1,1,1,1,1,1,2,DoS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699933,175.45.176.3,1043,149.171.126.18,53,udp,INT,0.000003,114,0,254,...,,34,34,19,19,19,19,34,Generic,1
699934,175.45.176.1,13540,149.171.126.10,80,tcp,FIN,3.393675,1194,3802,62,...,,2,1,1,1,1,1,1,Generic,1
699935,175.45.176.0,34233,149.171.126.15,1723,tcp,FIN,0.586488,756,268,254,...,,6,2,1,2,1,1,2,Fuzzers,1
699984,175.45.176.1,61247,149.171.126.17,110,tcp,FIN,2.014088,978,2844,62,...,,1,1,1,1,1,1,2,Exploits,1
699985,175.45.176.1,6870,149.171.126.17,80,tcp,FIN,0.771105,840,2026,62,...,,2,1,1,1,1,1,2,DoS,1

In [27]:
botnet4

,srcip,sport,dstsip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,label
5,175.45.176.0,49582,149.171.126.12,80,tcp,FIN,0.189983,13304,268,254,...,,1,1,1,1,1,1,1,Exploits,1
6,175.45.176.1,0,149.171.126.11,0,sctp,INT,0.000009,440,0,254,...,,1,1,1,1,1,1,2,Fuzzers,1
7,175.45.176.1,0,149.171.126.11,0,sctp,INT,0.000009,440,0,254,...,,1,1,1,1,1,1,2,Exploits,1
8,175.45.176.1,0,149.171.126.11,0,sctp,INT,0.000009,440,0,254,...,,1,1,1,1,1,1,2,Exploits,1
9,175.45.176.1,0,149.171.126.11,0,sctp,INT,0.000009,440,0,254,...,,1,1,1,1,1,1,2,Exploits,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440023,175.45.176.0,47439,149.171.126.10,53,udp,INT,0.000001,114,0,254,...,,15,15,15,15,15,15,15,Generic,1
440024,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,...,,2,1,2,4,2,2,2,Exploits,1
440025,175.45.176.0,33654,149.171.126.12,80,tcp,CON,2.579405,269883,1300,62,...,,2,1,2,4,2,2,2,DoS,1
440026,175.45.176.0,33654,149.171.126.12,80,tcp,CON,2.579405,269883,1300,62,...,,1,1,2,4,2,2,2,DoS,1
440042,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,...,,1,1,2,4,2,2,2,Exploits,1

In [11]:
df3 = df3.append(botnet1)

In [12]:
df3 = df3.append(botnet2)

In [13]:
df3 = df3.append(botnet4)

In [14]:
df3['label'].value_counts()

0    542575
1    321283
Name: label, dtype: int64

In [15]:
df3.to_csv('dataset.csv')

In [18]:
db = pd.read_csv('dataset.csv')

In [23]:
db.columns =['sno','srcip','sport','dstsip','dsport','proto','state','dur','sbytes','dbytes','sttl','dttl','sloss','dloss','service','sload','dload','spkts','dpkts','swin','dwin','stcpb','dtcpb','smeansz','dmeansz','trans_dept','res_bdy_len','sjit','djit','stime','ltime','sintpkt','dintpkt','tcprtt','synack','ackdat','is_sn_ips_ports','ct_state_ttl','ct_flw_http_mthd','is_ftp_login','ct_ftp_cmd','ct_srv_src','ct_srv_dst','ct_dst_ltm','ct_src_ltm','ct_src_dport_ltm','ct_dst_sport_ltm','ct_dst_src_ltm','attack_cat','label']

In [24]:
db = pd.read_csv('dataset.csv',index_col = "sno")

ValueError: Index sno invalid